$colorPrimario:#381451;
$colorPrimarioClaro:#76489b;
$colorSecundario:#e92070;
$colorHeaderCards:#eff1f3;
$colorFooter:#2d1540;
$colorNav:#6f1a7e;
$blanco:#fff;
$colorPrecios:#76489b;

//asignar a la paleta de colores de bootstrap

$primary:$colorPrimario;
$secondary:$colorSecundario;
$light:$colorNav;
$success:$blanco;
$warning:$colorFooter;
$info:$colorPrecios;
$danger:$colorHeaderCards;



//cambiando tipografia de bootstrap
@font-face {
    font-family: CeraProBold;
    src: url(/fonts/CeraProBold.ttf);
}

@font-face {
    font-family: CeraProMedium ;
    src: url(/fonts/CeraPROMedium.ttf);
}

$font-family-sans-serif:CeraProMedium;
$font-family-monospace:CeraProBold;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';