.fix {
    color: white;
    background-color: #2d1540;
    border: #381451 4px solid;
    padding: 15px 15px 15px 13px;
    border-radius: 50%;
    font-size: 50px;
    margin-right: 3.7rem !important;
    margin-left: 75rem !important;
    margin-bottom: 3rem !important;
    z-index: 10000;
}

.fixParrafo {
    color: white;
    background-color: #381451;
    padding: 2px 2px 2px 3px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 155px;
    
    margin-left: 73rem !important;
    margin-bottom: 1rem !important;
    
    z-index: 10000;
}

.hoverBtnCard {
    border-top: 1px solid #fff;
    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: white !important;

    }
}

.accordion-button{
    font-size: 13px;
    margin-right: 1rem;
    height: 1rem;
}

.cardBottom{
    width: 15.5rem;
    margin-bottom: -8rem !important;
    height: 130px;
    .card-body span{
        font-size: 20px !important;
    }

    .mini{
        font-size: 11px !important;
    }
    
}

.subtitulo{
    font-size: 11px;
}

.borde{
    border:1px solid #d2d3d4ec;
    border-radius: 10px;
    height: 6rem !important;

    p{
        color: #7c6c8a;
    }
    img{
        margin-left: 3.8rem;
    }
}

.parrafo2{
        color: #7c6c8a;
}

.paddingTop{
    padding-top: 1.5rem;
}
